extend top

append meta
    meta(name="description" content="Authentic Tapas and Paella takeaway, with food delivery within Oxford area. Gluten free / Vegetarian options available. Order online today for steaming hot tapas delivered straight to your door.")
    meta(name="keywords" content="Tapas Paella takeaway Delivery")
    meta(name="title" content="Authentic Tapas and Paella Takeaway to Oxford")

block body
    div(ng-controller="MenuCtrl")
         for section in sections
            unless section.hidden
                .container.food-menu
                    a.top(id=section.name.replace(/\s+/g, '-').toLowerCase())
                    h1.text-center= section.name
                    .row
                        for item, index in section.items
                            unless item.hidden
                                .food-box-container.col-md-3.col-sm-4.col-xs-12.text-center: .food-box: .food-box-content: .food-box-relative(style=item.has_image ? "background-image: url(https://s3-eu-west-1.amazonaws.com/tapas-media/#{item._id}.#{item.extension})" : null)
                                    .overlay
                                    .name-display: .dish-name
                                        .row#dish-name
                                            h2(style="margin: 10px 5px 10px; font-size: 15px").text-center= item.name
                                        .row
                                            h2.col-xs-6.item-price
                                                if item.price
                                                    = "£ "+item.price.toFixed(2)
                                                else
                                                    | None
                                            a.btn.btn-success.order-button.col-xs-6(ng-click="addToBasket('#{item._id}')")
                                                i.fa.fa-shopping-cart
                                                |  Order
                                    .dish-description
                                        h2.item-name= item.name
                                        h4.item-description= item.description
                                        if item.vegan
                                            span.vegetarian Vegetarian
                                        if item.gluten_free
                                            span.gluten-free Gluten Free
                                if (index + 1) % 4 == 0
                                    .clearfix.visible-lg.visible-md
                                if (index + 1) % 3 == 0
                                    .clearfix.visible-sm
    .container.food-menu
        .col-xs-12.text-center
            h1.text-center(style="margin-top: 0") Legend
            span.vegetarian
            span  - Vegetarian
            span.gluten-free
            span  - Gluten Free
    script.
        $(document).ready(function () {
            $('a[href^="/#"]').on('click', function (e) {
                e.preventDefault();
                var target = this.hash;
                var $target = $(target);
                $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 300, 'swing', function () {
                    window.location.hash = target;
                });
            });
        });